html {
  background-color: white;
}

body {
  font: 1.2em / 1.5 system-ui;

  /* padding/width*/
  padding: 20px;

  width: 500px;

  /* background color */
  background-color: #efefef;

  /* margin */
  margin: 0 auto;
}