html {
  background-color: white;
}

body {
  font: 1.2em / 1.5 system-ui;

  /* padding/width*/
  padding: 20px;

  width: 500px;

  /* background color */
  background-color: #efefef;

  /* margin */
  margin: 0 auto;
}
/*Repeat steps but in a UL block. */
ul {
    background-color: white;

    border: 5px solid purple;

    padding: 30px;

    border-radius: 20px;
}
/*text styles steps 1-3 */
h1 {
    color: darkslategray;

    border-bottom: 10px dotted purple;

    font-size: 2rem;
}
/*step 2-3 for h2 */
h2{
    font-style: italic;
    font-size: 1.5rem;
}

/*styling div (job-title) */
.job-title {
    color: darkslategray;
    font-weight: bold;
}
/*styling the links*/
a {
    color: green;
}

/*styling the hover/focus of the links provided */
a:hover, a:focus {
    color: darkgreen;
    text-decoration: none;
}