html {
  background-color: white;
}

body {
  font: 1.2em / 1.5 system-ui;

  /* padding/width*/
  padding: 20px;

  width: 500px;

  /* background color */
  background-color: #efefef;

  /* margin */
  margin: 0 auto;
}
/*Repeat steps but in a UL block. */
ul {
    background-color: white;

    border: 5px solid purple;

    padding: 30px;

    border-radius: 20px;
}